<!doctype html>
<html>
	<head>
		<title>?TITLE?</title>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
		<div class="sideNav">
			<center>
				<h1>Cesar Carrillo</h1>
				<a href="index.html">home</a>
				<a href="projects.html">projects</a>
				<a href="#">links</a>
				<a href="donate.html">donate</a>
			</center>
		</div>

		<div class="content">
			<h2>?TITLE?</h2>
			<p>?TEXT?</p>
		</div>
	</body>
</html>
