body
{
	font-family: monospace, monospace;
	background: #171717;
	color:	#ffffff;
}

h2
{
	border-bottom: solid 1px white;
	margin: 20px;
}

h3
{
	margin-bottom: 1px;
}

.content
{
	width: 80%;
}

.content a
{
	color: #5f819d;
}

.content p
{
	margin-top: 5px;
}

.topNav
{
	width: 80%;
}